.srvs_heading {
  font-size: 48px;
}

.serv_card {
  background-image: linear-gradient(rgba(0, 80, 129, 0.022), rgba(98, 154, 189, 0.022));
}
.serv_card:hover {
  background-image: linear-gradient(rgba(154, 207, 240, 0.022), rgba(166, 168, 170, 0.022));

  /* box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.servCardTitle {
  font-size: 24px;
  margin: 1.5rem 0;
}

p {
  font-size: 16px;
}

.serv_banner h2 {
  font-size: 28px;
  font-weight: 600;
}

.serv_banner h3 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.serv_banner h3 span {
  color: #0173bc;
  font-size: 36px;
}

.serv_banner p {
  font-size: 16px;
}
