.footerOuter {
  background-image: url("../../assets//images/footerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 200px;
}
.footer {
  padding: 250px 0 100px 0;
  position: relative;
}
.socIcon {
  display: flex;
  padding: 0;
}
.socIcon i {
  color: #fff;
  font-size: 26px;
}
.socIcon li {
  margin-right: 15px;
}
.footerLink li {
  margin-bottom: 15px;
}
.footerLink1 li {
  margin-bottom: 10px;
}

.icon1 {
  position: absolute;
  left: -40px;
  color: #fea12d;
  font-size: 20px;
}

.copyRight {
  border-top: 1px solid #fff;
  /* color: #fff; */
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.map {
  height: 50px;
  width: 100%;
}
