.hero2Outer {
  background-image: url("../../assets/images/hero2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 210px;
}
.hero2Outer::after {
  background-image: url("../../assets/images/heroLeft.png");
}
.hero2Outer::before {
  background-image: url("../../assets/images/heroRight.png");
}
.title {
  font-size: 48px;
  font-weight: 700;
}
.textLight {
  color: #a9a8a8;
}
